/* header  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: 'Varela Round', sans-serif;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
}
.container {
    width: 80%;
    margin: auto;
}
.header .logo {
    width: 40%;
    float: left;
}
.header .nav {
    list-style: none;
    width: 60%;
    float: right;
}
.header .nav > li {
    display: inline-block;
}

.header .nav > li> a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 30px 10px;
    padding-bottom: 10px;
   
}
.clear {
    clear: both;
}
/* header */




/* Home content */
 .home {
    height: 100vh;
    background-size: cover;
    position: relative;
    background-image: url(../images/background/background1.webp);
}
 .overlay {
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.home-content {
    position: absolute;
  
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.home .title {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 50px;
    text-transform: uppercase;
    
}

.home .desc {
    color: white;
    margin: 20px 0px;
    letter-spacing: 2px;
    line-height: 2;


}
.home .btn {
    width: 160px;
    
    height: 50px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
}
.home .btn-start {
    margin: 10px;
    background-color: white;
    color: black;
    
    
}
.home .btn-learn {
    background-color:rgba(21, 150, 224, 0.721);
    color: white;
    
}

.hover-opacity:hover {
    opacity: 0.8;
}

.hover-opacity {
    transition: opacity 0.5s;
} 

.header .nav >li> a:after {
    content: "";
    display: block;
    height: 3px;
    margin-top: 3px;
    width: 0;
    background-color:rgba(21, 150, 224, 0.721);
    transition: width 0.5s;
}

.header .nav >li > a:hover::after{
    width: 100%;
}
.header .nav > li > a.active:after {
    width: 100%;
}

.dropdown {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    top: 50%;
    background-color: rgba(21, 150, 224, 0.721);
    text-align: center;
    width: 120px;
    left: -30%;
    top: 96%;
    opacity: 0;
    visibility: hidden;

    transition: opacicity 0.5s , visibility 0.5s;  

}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
  
}


.dropdown-menu a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

/* Home content */

/* conent */
.pd-y {
    padding: 120px 0px;
}
.extention {
    text-align: center;

}
.extention-title {
    text-transform: uppercase;
    font-size: 2em;

}
.extention .line {
    width: 70px;
    display: block;
    height: 5px;
    margin: 10px auto 70px auto;
    background-color:rgba(21, 150, 224, 0.721);
}
.about-content {
}
.about-item {
    width: 30%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.199);
    height: 250px;
    float: left;
}
.about-content .mg {
    margin: 0px 5%;
}
.about-item i {
    color: rgba(21, 150, 224, 0.721) ;
    margin: 10px 0px 15px 0px;
    display: block;
}
.about-item-title {
    text-transform: uppercase;
    margin-bottom: 10px;

}
.about-item-desc {
    margin-bottom: 15px;
    font-size: medium;
    line-height: 1.5;
}

.about-item-link {
    text-decoration: none;
    color:rgba(21, 150, 224, 0.721);
}

.ltr-effect {
    position: relative;
}
.ltr-effect:after {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.822);
    z-index: -1;
    transition: width 0.5s;
}
.ltr-effect:hover:after {
    width: 100%;
    height: 100%;

}

.about-content:hover .about-item-title {
    color: white;
        transition: color 0.5s;
}
.about-content:hover .about-item-desc {
    color: white;
    transition: color 0.5s;
}

/* content */



/* portfolio */
.portfolio {
    background-color: #e8e8e8;

}
.portfolio-item {
    float: left;
    width: 30%;
    margin-bottom: 4%;
    position: relative;


}

.portfolio-item img {
    width: 100%;
    padding: 20px;
}
.portfolio-item.mg {
    margin: 0% 4%;
}

.portfolio-item .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.822);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

.portfolio-item:hover .layer {
    opacity: 1;
    visibility: visible;
} 

.portfolio-item .layer2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.portfolio-item .category {
    display: block;
    color:white ;
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 10px;

}
.portfolio-item .layer-content-title{
    color: white;
    margin-bottom: 10px;
    font-weight: 200;

}
.portfolio-item .layer2 i {
    display: inline-block;
    margin: 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: white;
    
}
/* offers */

.about-content .second {
    margin-bottom: 5%;
    padding: 42px 35px 32px 59px;
    position: relative;
}

.about-item.second i{
    position: absolute;
    top: 28px;
    left : 29px;

}

.utd-effect {
    position: relative;
}

.utd-effect:after {
    position: absolute;
    content: "";
    z-index: -1;
    width: 0%;
    height: 0%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background:rgba(0, 0, 0, 0.822);
    transition: height 0.5s;
}

.utd-effect:hover:after {
    width: 100%;
    height: 100%;
}

/* offers */

/* choose us */
.servecis {
    position: relative;
    background-color:#e8e8e8;
}

.choose-us {
 
    width: 45%;
    float: left;
    
}
.choose-img {
    width: 45%;
    float: right;
}
.choose-img img {
    width: 100%;
}

.servis-bolet {
    text-align: center;
    list-style: none;
}

.servis-bolet li:hover {
    background-color:rgba(21, 150, 224, 0.721) ;

}


.servis-bolet li {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 15px 8px;
    background-color: silver;
}
.servis-bolet .servis-bolet-choose {
    background-color:rgba(21, 150, 224, 0.721) ;
}

.choose-us-title {
    font-size: 42px;
    text-transform: capitalize;
    margin-bottom: 10px;


}
.choose-us-line {
    display: block;
    background-color: rgba(21, 150, 224, 0.721) ;
    width :50px;
    height: 5px;
    margin-bottom: 70px;
}
.choose-us-desc {
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: rgba(82, 73, 73, 0.744);
    margin-bottom: 35px;
}

.choose-us-ul {
    list-style: none;
}
.choose-us-ul  i {
    border: 2px solid #1596e0b8 ;
    color: rgba(21, 150, 224, 0.721);
    padding: 3px;
    border-radius: 50%;
    
}
.choose-us-ul li {
    position: relative;
    top: -20px;
    right: 0;
    bottom: 0;
    left: 54px;
    color: rgba(82, 73, 73, 0.744);
    font-size: 16px;
    margin-bottom: 10px;
}

 /* choose us */

 /* numbers section */

 .numbers-section {
    position: relative;
    height: 400px;
    background-image: url(../images/background/background2.webp);
    background-attachment: fixed;
    margin: 120px 0px;
    
 }


.numbers-section-item {
    overflow: hidden;
    padding: 100px;
  
   
}
.numbers-section-item-content {
    width: 25%;
    text-align: center;
    float: left;
    
}
.numbers-section-item-content i {
    color: #1596e0b8;
    font-size: 3em;
    margin-bottom: 10px;

}
.numbers-section-item-content p {
    color: white;
    text-transform: capitalize;
   
}
.numbers-section-item-content .numbers-happy {
    font-size: 30px;
    font-weight:800;
    margin: 15px 0px;
}




 /* numbers section */


 /* Prices*/
.prices-content {
    overflow: hidden;
    padding-left:10%;
}
.prices-item {
    width: 25%;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.199);
    text-align: center;
    
}
.prices-content .mg {
    margin-left: 5%;
        

}
.prices-item-title {
    text-transform: capitalize;
    color: grey;
    margin: 40px 0px;
}
.prices-item-pay {
    
    display: inline-block;
    border: 2px solid #1596e0b8;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding: 15px;
    line-height: 1.2;
    text-transform: uppercase;
   
    
}
.prices-item-pay.pay{
    font-size: 27px;
    font-weight: 800;
    color: black;
    margin-bottom: 25px;

}
.prices-item-pay span {
    font-size: 12px;
    font-weight: 400;
    display: block;
    margin: 2px 0px;
}
.prices-item-ul {
    list-style: none;
    color:grey;
    margin-bottom: 25px;
    
}
.prices-item-ul li {
    margin: 5px;
    text-transform: capitalize;
}

.prices-item-btn {
    width: 115px;
    height: 30px;
    border: 2px solid #1596e0b8;
    color: #1596e0b8;
    background-color: white;
    border-radius: 5%;
    margin-bottom: 60px;
    cursor: pointer;
}

.prices-item:hover .prices-item-pay.pay {
    color: white;
    transition: color 0.5s;

}
.prices-item:hover .prices-item-title {
    color: white;
    transition: color 0.5s;

}
.prices-item:hover .prices-item-ul {
    color: white;
    transition: color 0.5s;

}



    /* Prices */


    /* people */

.people {
    background-image: url(../images/background/background3.webp);
    height: 400px;
    margin: 120px 0px;
    background-attachment: fixed;
    position: relative;
}
.people-content{
    overflow: hidden;
}
.people-item {
    width: 45%;
    float: left;
    text-align: left;
    text-transform: capitalize;
    padding: 80px;
    position: relative;
}

.people-item-img {
    width: 85px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.people-name-job {
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 180px;
    color: white;
   
}
.people-name-job .people-item-name {
    font-weight: bolder;
    margin-bottom: 5px;
}
.people-name-job .people-item-line {

    color: #1596e0b8;
}

.people-item-desc {
    color: white;
    line-height: 1.5;
}


     /* people */


     /* our team */

.team {

}
.team-content {
    overflow: hidden;
}
.team-item {
    width: 30%;
    float: left;
    text-align: center;
    text-transform: capitalize;
    padding: 30px 10px 30px 10px;
    background-color: #e8e8e8;

   
    
}

.team-item.mg {
    margin: 0px 5%;
}

.team-item .team-img {
    width: 90%;
    margin: auto;

}

.team-img {
    position: relative;
}

.team-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: a 0.5s;
    margin-bottom: 4px;
}

.team-overlay a {
    width: 40px;
    height: 40px;
    background-color: #1596e0b8;
    color: white;
    display: block;
    margin-left: auto;
}
.team-overlay a i {
    line-height: 40px;

}


.team-item img {
    width: 100%;
    
}
  

.team-item .team-h2 {
    color: rgb(74, 2, 2);
    margin: 10px 0px;
    font-weight: 900;
}

.team-item .team-span {
    display: inline-block;
    color: grey;
    text-transform: uppercase;
}

.team-item:hover .team-overlay {
    opacity: 1;
    visibility: visible;

}
.team-item:hover .team-span {
    color:#1596e0b8;
    transition: color 0.5s;
}
.team-item:hover .team-h2 {
    color: white;
    transition: color 0.5s;
}
.team-item.utd-effect{
    z-index: 1;
}



  

     /* our team */

/* Blog */
.blog {
    background-color: #e8e8e8;;
}

.blog-content {
    overflow: hidden;
   margin-left: 30px ;
    
}
.blog-item {
    width: 30%;
    float: left;
    background-color: whitesmoke;
}
.blog-item.mg {
margin:0px 2.5%;
}

.blog-item-img {
    width: 100%;
}

.blog-item .img-detail{

    margin: 15px 0px;
    text-transform: capitalize;

}

.blog-item .img-detail i {

    margin: 0px 10px;
    color: #1596e0b8;

}

.blog-item-title {
    text-transform: capitalize;
    letter-spacing: 0.5;
    margin:15px 0;
    font-size: 30px;
    font-weight: 900;
}

.blog-item-desc {
    letter-spacing: 0.6;
    text-transform: capitalize;
    color: grey;
    margin-bottom :20px;
}
.blog-item a {
    text-transform: capitalize;
    color: #1596e0b8;
    text-decoration: none;
    margin-bottom: 40px;
}
.blog-padding {
    padding: 30px;
}
 /* Blog */

 /* Contact us */
.contact-us {

}

.contact-contact {
    overflow: hidden;
 width: 100%;
 text-transform: capitalize;
 margin-bottom: 50px;
  
    
}

.contact-item {
    width: 30%;
    float: left;
    text-align: center;
}
.contact-item.mg{
    margin:0px 5% ;
}
.contact-item i {
    color: #1596e0b8;
    margin-bottom: 25px;
}
.contact-item h2 {
    margin-bottom: 10px;
    font-weight: 800;
}
.contact-item p {
    color: grey;
}
.contact-spes {
    text-align: center;
}
.name-email {
    margin-bottom: 20px;
    display: block;
    text-align: center;
    
}

  .name-email .text , .email{
    width: 367px;
    height: 40px;
    background-color:rgba(128, 128, 128, 0.08);
    border: none;
    
    
}
 .name-email .text{
    margin-right: 15px;
    padding: 0px 1%;
 }
 .name-email .email {
    padding: 0px 1%;

 }
  input::placeholder{
    font-size: 17px;
    
 }

 .contact-spes {
   width: 60%;
    margin: auto;
    text-align: center;
 }

 .contact-spes .subject {
    display: inline-block;
    width: 757px;
    height: 40px;
    padding: 0px 1%;
    background-color:rgba(128, 128, 128, 0.08);
    border: 0;
    margin-bottom: 20px;
 }

 .contact-spes .subject2 {
    display: inline-block;
    width: 757px;
    height: 80px;
    padding: 0px 1%;
        background-color: rgba(128, 128, 128, 0.08);
        border: 0;
        margin-bottom: 20px;

 }
 .contact-spes textarea::placeholder {
    font-size: 17px;
    font-weight: lighter;
 }

 .contact-btn {
    display: inline-block;
    color: white;
    background-color: #1596e0b8;
    border :none;
    border-radius: 5%;
    width: 150px;
    height: 40px;
    margin: 10px 0px;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
 }
 /* Contact us */


/* logoooo */

.logoo {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    background-color: black;
    margin: auto;
    
}
.logo-item {
   
}
.logo-item-ul {
    list-style: none;
    margin: 20px 0px 30px 0px;
}

.logo-item-ul li {
   margin: 0px 8px;
    display: inline-block;

}

.logo-item-ul  a {
    display: block;
border-radius: 50%;
width: 50px;
height: 50px;
line-height: 50px;
background-color:#1596e0b8;


  
}
.logo-item-ul i {
    color: white;
}

.logo-desc {
    color: grey;
   display: block;
    font-size: 12px;
}

.logo-desc span {
    color: #1596e0b8;
}



/* logoooo */